{% extends '_base.html' %}

{% load custom_tags %}

{% block navbar_title %}
                                <h1 class="nav-title">Informações do Selo</h1>
{% endblock %}

{% block content %}
            <div class="col-md-9 col-xs-12" id="content" tabindex="-1">
                <div class="row flex items-center">
                    <div class="col-xs-9 col-md-10">
                        <h2>Domínio: {{ certification.domain }}</h2>
                    </div>
                    <div class="col-xs-3 col-md-1 float-right">
                        <div class="btn-group" dropdown>
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                <span class="caret"></span>
                                <span class="sr-only">Ações para o domínio institutoolgakos.org.br/</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <li role="menuitem">
                                    <a href="#">
                                        Enviar alerta de nível de aderência
                                    </a>
                                </li>
                                {% if certification.is_active %}
                                <li role="menuitem">
                                    <a href="{% url 'inactivate_certification' certification.sei_number %}">
                                        Inativar selo
                                    </a>
                                </li>
                                {% else %}
                                <li role="menuitem">
                                    <a href="{% url 'activate_certification' certification.sei_number %}">
                                        Ativar selo
                                    </a>
                                </li>
                                {% endif %}
                                <li role="menuitem">
                                    <a href="{% url 'edit_certification' certification.sei_number %}">
                                        Editar selo
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="{% url 'delete_certification' certification.sei_number %}">
                                        Excluir selo
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a href="{% url 'get_list_of_pages_document' certification.sei_number %}">
                                        Relação de Páginas
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 info-box">
                        <div class="col-xs-12">
                            <h4>Informações</h4>
                            <div class="mb-1">
                                <a href="#" id="show_hide_info">(mostrar/esconder)</a>
                            </div>
                            <div id="certificationInfo">
                                <ul>
                                    <li>
                                        <b>Nome do requerente: </b> 
                                        {{ applicant.name }} 
                                        <a href="{% url 'applicant_info' applicant.cpf_cnpj %}">
                                            (ver mais sobre o requerente)
                                        </a>
                                    </li>
                                    <li>
                                        <b>Representante legal:</b> 
                                        {% if legal_representative %} 
                                        {{ legal_representative.name }} 
                                        {% else %} 
                                        Não consta 
                                        {% endif %}
                                    </li>
                                    <li>
                                        <h5>Processo SEI</h5>
                                    </li>
                                    <ul>
                                        <li>
                                            <b>Número:</b>
                                            {{ certification.sei_number|slice:":4" }}.{{ certification.sei_number|slice:"4:8" }}/{{ certification.sei_number|slice:"8:15" }}-{{ certification.sei_number|slice:"15:" }}
                                        </li>
                                        <li>
                                            <b>Natureza:</b>
                                            {% if certification.sei_nature == 'PB' %}
                                            Pública
                                            {% elif certification.sei_nature == 'PV' %}
                                            Privada
                                            {% else %}
                                            Não consta
                                            {% endif %}
                                        </li>
                                        <li>
                                            <b>Data de requerimento:</b> 
                                            {{ certification.request_date|date:"d/m/Y" }}
                                        </li>
                                    </ul>
                                    <li>
                                        <h5>Certificado</h5>
                                    </li>
                                    <ul>
                                        <li>
                                            <b>Código:</b>
                                            {{ certification.code }}
                                        </li>
                                        <li>
                                            <b>Data de concessão:</b> {{ certification.grant_date|date:"d/m/Y" }}
                                        </li>
                                        <li>
                                            <b>Data de renovação:</b> {{ certification.renewal_date|date:"d/m/Y" }}
                                        </li>
                                        <li>
                                            <b>Status:</b> 
                                            {% if certification.is_active %}
                                            Ativo
                                            {% else %}
                                            Inativo
                                            {% endif %}
                                        </li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-center mb-1">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 float-left justify-center">
                                <div class="links-result-wrapper">
                                    <h4>Acima de 95%</h4>
                                    <div class="links-result-box green">
                                        {{ above_links_count }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4 float-right justify-center">
                                <div class="links-result-wrapper">
                                    <h4>Abaixo de 95%</h4>
                                    <div class="links-result-box red">
                                        {{ below_links_count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row last-run-box">
                    <b>Data da última avaliação:</b> 
                    {% if last_evaluation %}
                    {{ last_evaluation }}
                    {% else %}
                    Nunca
                    {% endif %}
                </div>
                <div class="row selos-option">
                    <label for="number_of_days">Dias visíveis:</label>
                    <a href="{% url 'certification_info_n' certification.sei_number 4 %}">
                        4
                    </a>
                    <a href="{% url 'certification_info_n' certification.sei_number 7 %}">
                        7
                    </a>
                    <a href="{% url 'certification_info_n' certification.sei_number 15 %}">
                        15
                    </a>
                    <a href="{% url 'certification_info_n' certification.sei_number 30 %}">
                        30
                    </a>
                    <a href="{% url 'certification_info_n' certification.sei_number 60 %}">
                        60
                    </a>
                    <!--
                    <select id="number_of_days" name="select">
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                    -->
                </div>
                <div class="row mb-3 x-wrapper">
                    <table class="table">
                        <thead class="thead-links">
                            <tr>
                                <th style="width: 25%;">URL</th>
                                {% for date in dates %}
                                <th>{{ date|date:"d/m/Y" }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="tbody-links">
                            {% for page in pages %}
                            {% if reports|page_found:page or not last_evaluation %}
                            <tr>
                                <td style="text-align: left;">
                                    <a target="_blank" href="{{ page.url }}" style="color: #000;">
                                        {{ page.url }}
                                    </a>
                                </td>                            
                            {% else %}
                            <tr class="problem-url">
                                <td style="text-align: left;">
                                    <a target="_blank" href="{{ page.url }}" style="color: #000;">
                                        {{ page.url }} 
                                        <i aria-hidden="true" class="fas fa-times-circle" title="URL com problemas de acesso"></i>
                                        <span class="sr-only">URL com problemas de acesso</span>
                                    </a>
                                </td>
                            {% endif %}
                                {% for report in reports|get_item:page %}
                                {% if report.succeed %}
                                <td>
                                    <a href="{% url 'report_show' certification.sei_number page.id report.creation_date_time|date:'Y-m-d_H:i:s' %}">
                                        {{ report.grade }}%
                                    </a>
                                </td>
                                {% elif report.page_found %}
                                <td class="need-attention">
                                    <a style="color:#fff" href="{% url 'report_show' certification.sei_number page.id report.creation_date_time|date:'Y-m-d_H:i:s' %}">
                                        {{ report.grade }}%
                                    </a> 
                                    <i aria-hidden="true" class="fas fa-exclamation-circle" title="Avaliação abaixo de 95%"></i>
                                    <span class="sr-only">Avaliação abaixo de 95%</span>
                                </td>
                                {% else %}
                                <td>
                                    Não acessível
                                </td>
                                {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}
