{% extends '_base.html' %}

{% block navbar_title %}
                                <h1 class="nav-title">Trocar senha</h1>
{% endblock %}

{% block content %}
            <div class="col-md-9 col-xs-12" id="content" tabindex="-1">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="new_password1">Nova senha</label>
                            <input type="password" name="new_password1" class="form-control" id="new_password1" placeholder="Nova senha" required>
                            {{ form.new_password1.errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="new_password2">Confirmação da nova senha</label>
                            <input type="password" name="new_password2" class="form-control" id="new_password2" placeholder="Confirmação da nova senha" required>
                            {{ form.new_password2.errors }}
                        </div>
                    </div>
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <button class="btn btn-primary btn-block" type="submit">Salvar</button>
                        </div>
                        <div class="col-md-2 mb-3">
                            <a class="btn btn-primary btn-block" href="{% url 'user_info' form.user.rf %}">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
{% endblock %}