{% extends '_base.html' %}

{% block navbar_title %}
                                <h1 class="nav-title">Procurar Gestor</h1>
{% endblock %}

{% block content %}
            <div class="col-md-9 col-xs-12" id="content" tabindex="-1">
                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <form role="search">
                            <div class="input-group">
                                <label for="header-search">
                                    <span class="sr-only">Pesquisar gestor</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Procurar por..." name="search_for" id="search_for">
                                <div class="input-group-btn">
                                    <select class="btn btn-default" name="in" id="in" style="padding: 7px">
                                        <option value="name" selected>Nome</option>
                                        <option value="rf" >RF</option>
                                        <option value="email">Email</option>
                                    </select>
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                        <span class="sr-only">Enviar pesquisa</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-xs-12">
                        {% if search_term != '' %}
                        <small>Resultados da pesquisa por "{{ search_term }}" em {{ where }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xs-12">
                        {% if users %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>RF</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="col-sm-2"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usr in users %}
                                <tr>
                                    <td>{{ usr.name }}</td>
                                    <td>{{ usr.rf }}</td>
                                    <td>{{ usr.email }}</td>
                                    <td>
                                        {% if usr.is_active %}
                                        Ativo
                                        {% else %}
                                        Inativo
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'user_info' usr.rf %}">
                                            Ver gestor
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h3>Nenhum resultado foi encontrado</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
{% endblock %}