container_commands:
    01_migrate:
        command: "source /opt/python/run/venv/bin/activate && python web_app/manage.py migrate --noinput"
        leader_only: true
    02_createsu:
        command: "source /opt/python/run/venv/bin/activate && python web_app/manage.py createsu"
        leader_only: true
    03_collectstatic:
        command: "source /opt/python/run/venv/bin/activate && python web_app/manage.py collectstatic --noinput"
        leader_only: true

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "django_app.settings"
        "PYTHONPATH": "/opt/python/current/app/web_app:$PYTHONPATH"
        "ALLOWED_HOSTS": "selo-smped.sa-east-1.elasticbeanstalk.com"
    aws:elasticbeanstalk:container:python:
        WSGIPath: web_app/django_app/wsgi.py
        NumProcesses: 3
        NumThreads: 20
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "web_app/static_root/"
